<div class="container  list-film ">
  <div>
    <button (click)="onNewFilm()" class="btn btn-success">Ajouter Film</button>
  </div>
  <br/>

  <div class="panel panel-default">
    <div class="panel-heading">
      List des Films
    </div>
    <div *ngIf="films" class="panel-body">
      <table class="table table-hover  ">
        <thead >
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Categorie</th>
          <th>Realisateur</th>
          <th>Annee</th>
          <th>Duree</th>
          <th>Photo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of films._embedded.films">
          <td>{{ f.titre }}</td>
          <td>{{ f.description }}</td>
          <td>{{f.category.name}}</td>
          <td>{{ f.realisateur }}</td>
          <td>{{ f.date_sortie |date:'y' }}</td>
          <td>{{ f.duree }} H</td>
          <td><img
            width="70px"
            height="90px"
            src="{{cinemaService.HOST +'getImageFilm/' + f.id}}"
            alt="{{f.titre}}"
          /></td>
          <td>
            <button
              (click)="onDeleteFilm(f)"
              class="btn btn-danger ">
              <i class="glyphicon  glyphicon-trash"></i>
            </button>
            <button
              (click)="onEditFilm(f.id)"
              class="btn btn-warning">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

    <div >
      <nav  aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" *ngFor="let p of pages;let i=index"><a [ngClass]="{'page-active':nbPages==i}" class="page-link " (click)="goToPage(i)">{{i+1}}</a></li>
        </ul>
      </nav>
    </div>
</div>


